/* author: Evan Pittman Sprint 1 Feb 2024 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
button,
p {
  font-family: "Arial", sans-serif;
}
html {
  width: auto;
  border: 15px solid #055f9b;
  background-color: #055f9b;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  width: 100%;
  font-family: "Fontdiner Swanky", cursive;
}

.pic {
  width: 100%;
  height: 350px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.menuitems {
  position: relative;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  height: 300px;
  background-color: black;
  color: white;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
}

.overlay {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  z-index: 1;
  border-radius: 10px;
}

.menuitems:hover .overlay {
  display: block;
}

.overlay img {
  max-width: 100%;
  height: 250px;
}

.left {
  display: flex;
  justify-content: left;
  float: left;
  font-weight: 700;
}

img {
  object-fit: cover;
  border-radius: 10px;
  height: 300px;
  width: 450px;
}

.right {
  display: flex;
  justify-content: right;
  float: right;
  font-weight: 700;
}

.site-header {
  background-color: #055f9b;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  /* Adjust the height as necessary */
  height: auto;
}

.logo-text h1,
.logo-text p {
  margin-left: 10px;
  line-height: 1.2;
}

.logo-text h1 {
  font-size: 30px;
  margin-bottom: auto;
  font-family: "Fontdiner Swanky", cursive;
}

.logo-text p {
  font-size: 36px;
  font-family: "fugaz one", sans-serif;
  margin-left: 3rem;
}
.logo-container a,
.logo-container a:hover,
.logo-container a:focus {
  text-decoration: none;
  color: inherit;
}
.navigation .nav-button {
  background: white;
  border: 2px solid white;
  color: #055f9b;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.navigation .nav-button:hover {
  background-color: #044f8c;
  color: white;
}

.nav-button a {
  text-decoration: none;
}
/* Responsive Grid Adjustments */
@media (max-width: 768px) {
  .food-section {
    grid-template-columns: 1fr;
  }

  .header-content,
  .navigation {
    flex-direction: column;
  }

  .navigation .nav-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .nav-button a {
    display: block;
  }
}

/* Footer styles */
.site-footer {
  background-color: #055f9b;
  color: white;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-hours-location {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: 300px;
  height: 300px;
  margin: auto;
}

.footer-hours-location h2,
.footer-hours-location p {
  margin: 5px 0;
}

.footer-logo {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-social-media img {
  margin-right: 20px;
}

.footer-social-media h3 {
  font-family: "Fontdiner Swanky", cursive;

  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #044f8c;
}

.footer-quick-links {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-quick-links h3 {
  margin-bottom: 20px;
}
.footer-quick-links a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-quick-links a:hover {
  color: #044f8c;
}

#email {
  color: white;
  text-decoration: none;
}

#email:hover {
  color: #044f8c;
}

.copyright-info {
  text-align: center;
  margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .site-footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-icons a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .footer-hours-location {
      width: 100%;
      padding-top: 100%;
      position: relative;
    }

    .footer-hours-location-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
    }

    @media (max-width: 768px) {
      .copyright-info {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
  }
}
