.order-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.order-button {
  background: rgb(0, 4, 255);
  border: 2px solid rgb(0, 4, 255);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
  flex: 0.15;
}

.order-button:hover {
  background-color: #044f8c;
  color: white;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
button,
p {
  font-family: "Arial", sans-serif;
}

/* Header styles */
.site-header {
  background-color: #055f9b;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust the width as necessary */
  /* Adjust the height as necessary */
  height: auto; /*  Maintain the aspect ratio */
}

.logo-text h1,
.logo-text p {
  margin-left: 10px;
  line-height: 1.2;
}

.logo-text h1 {
  font-size: 30px; /* Adjust the size as necessary */
  margin-bottom: auto; /* Adjust the spacing between the title and the subtitle */
  font-family: "Fontdiner Swanky", cursive; /* Add a fun font */
}

.logo-text p {
  font-size: 36px; /* Adjust the size as necessary */
  font-family: "fugaz one", sans-serif; /* Add a fun font */
  margin-left: 3rem;
}

.navigation .nav-button {
  background: white;
  border: 2px solid white;
  color: #055f9b;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px; /* Rounded corners */
  margin-left: 10px; /* Space between buttons */
  transition: background-color 0.3s, color 0.3s;
}

.navigation .nav-button:hover {
  background-color: #044f8c; /* Darker shade on hover */
  color: white;
}
/* Responsive Grid Adjustments */
@media (max-width: 768px) {
  .food-section {
    grid-template-columns: 1fr;
  }

  .header-content,
  .navigation {
    flex-direction: column;
  }

  .navigation .nav-button {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

/* Footer styles */
.site-footer {
  background-color: #055f9b; /* Blue background color */
  color: white;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; /* Three columns layout */
  align-items: center;
  justify-content: space-between;
  gap: 30px; /* Space between columns */
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-hours-location {
  background-color: black; /* Black box for hours and location */
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height to maintain a square */
  margin: auto; /* Center the box if it's not full width */
}

.footer-hours-location h2,
.footer-hours-location p {
  margin: 5px 0;
}

.footer-logo {
  width: 120px; /* Adjust this to the size you want */
  height: auto; /* This will maintain the aspect ratio */
  margin-right: 20px; /* Add space between the logo and the text */
}

.footer-social-media {
  display: flex; /* Add flex display */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Align items to the start horizontally */
  flex-direction: row; /* Set the direction of items to row */
}

.footer-social-media img {
  margin-right: 20px; /* Add space between the logo and the text */
}

.footer-social-media h3 {
  font-family: "Fontdiner Swanky", cursive;

  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex; /* Ensure icons are also in a row */
  justify-content: center;
  align-items: center; /* Center icons vertically */
}

.social-icons a {
  color: white; /* Social icons color */
  font-size: 24px; /* Social icons size */
  margin: 0 10px;
}

.social-icons a:hover {
  color: #044f8c; /* Hover effect for icons */
}

.footer-quick-links {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-quick-links h3 {
  margin-bottom: 20px;
}
.footer-quick-links a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-quick-links a:hover {
  color: #044f8c; /* Hover effect for quick links */
}

/* Copyright info within footer */
.copyright-info {
  text-align: center;
  margin-top: 20px; /* Space from the rest of the footer content */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .site-footer {
    grid-template-columns: 1fr; /* Stacking columns on top of each other */
    text-align: center;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align for responsive layout */
  }

  .social-icons a {
    font-size: 20px;
    display: flex; /* Adjusting social icons size for smaller screens */
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .footer-hours-location {
      width: 100%; /* Full width on smaller screens */
      padding-top: 100%; /* Top padding is based on width, so this will maintain aspect ratio */
      position: relative; /* Enable absolute positioning for children */
    }

    .footer-hours-location-content {
      position: absolute; /* Absolute position the content */
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto; /* Add scroll for smaller screens */
    }

    @media (max-width: 768px) {
      .copyright-info {
        grid-row-start: 2; /* Place it in the second row */
        grid-column-start: 1;
        grid-column-end: -1; /* Span across all columns */
      }
    }
  }
}
